body{
    margin: 0;
    padding: 0;
    width: 100vw;
    min-width: 1000px;
    background-color: #f9f8fd;
}
.container{
    height: 100vh;
    min-height: 735px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 10% 40% 40% 10%;
    grid-template-columns: 10% 40% 40% 10%;
    -ms-grid-rows: 1fr 80% 1fr;
    grid-template-rows: 1fr 80% 1fr;
    grid-template-areas: 
      "header header header header"
      ". main main main"
      "footer footer footer footer";

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
        animation: fadein 2s;
}
.header{
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: header;
    /* background-color: lightblue; */
}
.main-container{
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-area: main;  
    display: -ms-grid; 
    display: grid;
    -ms-grid-columns: 1fr 2fr;
    grid-template-columns: 1fr 2fr;
    -ms-grid-rows: auto;    
    grid-template-rows: auto;    
}
.main-container > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;    
}
.main-container > *:nth-child(2){
    -ms-grid-row: 1;
    -ms-grid-column: 2;    
}
.footer{
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: footer;   
    /* background-color: blue; */    
}
.media-content{
    -ms-grid-column: 1;
    grid-column: 1;  
    display: -ms-grid;
    display: grid;    
    -ms-grid-columns: 70% 25%;    
    grid-template-columns: 70% 25%;   
    -ms-grid-rows: 660px;     
    grid-template-rows: 660px;
    grid-template-areas: 
    "additional profile";    
}
.description-content{
    -ms-grid-column: 2;
    grid-column: 2;   
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: 25% 10px 25% 10px 5% 10px 30%;    
    grid-template-rows: repeat(2, 25%) 5% 30%;
    grid-row-gap: 10px;
    grid-template-areas: 
    "."
    "name"
    "title"
    "about";    
}
.name{
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: name;
    align-self: end;
    font-size: 26pt;
    font-weight: 500;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
}
.title{
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: title;
    margin-left: 0.5em;
    font-family: 'Lato', sans-serif;
}
.about{
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-area: about;
    font-family: 'Lato', sans-serif;
}
.profile-container{
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: profile;  
    -ms-grid-row-align: end;   
    -ms-grid-column-align: end;   
    place-self: end;
    -ms-flex-item-align: start;
    -ms-grid-row-align: start;
    align-self: start;
    padding-top: 55px;
}
.additional-container{
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: additional; 
    -ms-grid-row-align: end; 
    -ms-grid-column-align: end; 
    place-self: end; 
    -ms-flex-item-align: center;    
    -ms-grid-row-align: center;     
    align-self: center;
    padding-top: 110px;
}

.hexagon-1{
    overflow: hidden;
    visibility: hidden;
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -o-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
    width: 200px;
    height: 300px;
    -webkit-filter: drop-shadow(5px -5px 2px rgba(0,0,0,.5));
    filter: drop-shadow(5px -5px 2px rgba(0,0,0,.5));
}

.hexagon-2 {
    overflow: hidden;
    /* width: 100%; */
    height: 100%;
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    transform: rotate(-60deg);
}
.hexagon-3 {
    /* width: 100%; */
    height: 100%;
    /* background-repeat: no-repeat; */
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    transform: rotate(-60deg);
}

.profile-image{
    background-image: url(images/DSC00100.jpg);
    background-position: 57% 70%;
    background-size: 230px;
    background-repeat: no-repeat;
    background-color: white;
    visibility: visible;
}

.placeholder-hex{
    background-color: #CAE4DB;
    visibility: visible;
}

.icons{
   font-size: 45px;
   margin-left: 17%;
   margin-top: -1%;
}

.icon-1{
    color: #0077B5;
}
.icon-2{
    color: #24292e;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

